body,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}
header{
	background: url(header_image.gif);
	background-size:cover;
	background-repeat: no-repeat;
	text-align: center;
	height: 45em;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
div.header_text {
	padding-top: 8em;
	opacity: .8;
	margin-bottom: 0em;
	font-size: 2em;
}
div.grey_div{
	background: white;
	width: 100%;
	height: 390px;
	text-align: center;

}
div.grey_div p{
	margin-left: 12%;
	margin-right: 50%;
	font-size: 18px;
	position: absolute;

}
div.grey_div h3{
	padding-top: 5em;
	font-size: 30px;
	margin: 0 40%  0 25px;
}
div.grey_div img{
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	position: relative;
	margin-top: -13%;
	width: 40%;
	float: right;
	height: auto;
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}
div.grey img:hover{
	opacity: .5;
}
div.design {
	background: white;
	width: 100%;
	height: 390px;
	vertical-align: top;
	text-align: center;
}
div.design h3 {
	font-size: 30px;
	padding-top: 5em;
	margin: 0 15%  0 40%;
}
div.design img {
	float: left;
	width: 25%;
	height: auto;
	margin-top: -9em;
	margin-left: 80px;

}
div.design p{
	margin-left: 40%;
	margin-right: 15%;
	font-size: 18px;
	float: right;
	position: absolute;
}
div.miami_cityscape {
	background:url(miami_cityscape);
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
}
div.Group1 {
	background: url(Group1.png);
	background-size:cover;
	background-repeat: no-repeat;
	height: 400px;
}









